{{ define "head" }}
<link rel="stylesheet" href="{{ `css/index.css` | relURL }}" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Waiting for the Sunrise">
{{ end }}

{{ define "main" }}
<div class="container">
    <div class="section">
    	<div class="is-centered">
			<div class="content typewriter">
				<h1 id="quote"> {{ .Params.subheading}} </h1>
				<h1 id="handle"> @{{ .Params.handle}} </h1>
			</div>
		</div>
    </div>
</div>
{{ end }}

{{ define "scripts" }}
<script src="js/typedtext.js"></script>
{{ end }}