{{ define "main" }}
<div class="container">
    <div class="section">
    	<div class="columns is-centered">
			<div class="column">
				<div class="content">
					<h1 style="margin: 0">{{ .Title }}</h1>
					{{ range .Pages }}
					<a href="{{ .Permalink }}">
						<div class="card columns">
                            {{ with .Params.images }}
							<div class="card-image column is-one-quarter" style="padding: 0;">
	                            <figure class="image is-3by2" style="margin: 0;">
	                                <img src="{{ index . 0 }}" alt="" style="object-fit: cover;">
	                            </figure>
							</div>
                            {{ end }}
							<div class="card-content column">
								<span class="title is-4 is-size-4-mobile">{{ .Title }}</span>
								<span class="heading inform"><time>{{ .PublishDate.Format "January 2, 2006"}}</time></span>
								{{ with .Description }}
								<div class="content">
									<span class="description">{{ . }}</span>
								</div>
								{{ end }}
							</div>
						</div>
					</a>
					{{ end }}
				</div>
			</div>
		</div>
    </div>
</div>
{{ end }}