code.has-jax {
    -webkit-font-smoothing: antialiased;
    background: inherit !important;
    border: none !important;
    font-size: 100%;
}

.typewriter h1 {
    font-family: 'Waiting for the Sunrise', cursive;
    font-size: 52px;
    margin: 10px 50px;
    letter-spacing: 6px; 
    font-weight: bold;
    line-height: 1.6;
    text-align: left;
}

#handle {
    text-align: right;
}