body {
    font-family: Titillium Web;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logo h1 {
    font-family: cursive;
	font-size: 1.5em;
}

main {
    flex: 1;
    font-family: Noto Serif TC;
    text-align: justify;
}

.description {
    margin-left: 1em;
    font-family: Noto Serif TC;
}

.card {
    margin: 1.5em;
}

.column {
    max-width: 800px;
}

@media only screen
and (max-width: 650px) {
    .section {
        padding-top: 1.5em;
    }
}